<<<<<<< HEAD
footer{
    Background-color:#00FF00;
    height:60px;
    width:100%;
    position: absolute;
    bottom:0;
    text-align:center;
    line-height:60px
=======
footer {
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 0;
	position: fixed;
	line-height: 60px;
>>>>>>> be098a6cf09a8ae533aa2ff4c1909464fb69feaa
}
