<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
=======
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
>>>>>>> be098a6cf09a8ae533aa2ff4c1909464fb69feaa
}
