footer {
<<<<<<< HEAD
	background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
=======
	background: white;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 0;
	position: fixed;
	line-height: 60px;
	border-top: solid 1px #CCCCCC;
>>>>>>> be098a6cf09a8ae533aa2ff4c1909464fb69feaa
}
