header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
=======
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: solid 1px #CCCCCC;
}
.logo {
	background-image: url(../images/logo.png);
	position: absolute;
	width: 135px;
	height: 55px;
	left: 20px;
>>>>>>> be098a6cf09a8ae533aa2ff4c1909464fb69feaa
}
