<<<<<<< HEAD
.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

section.filters button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
section.filters button:hover {
    opacity: 0.9;
}
.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    float: left;
}
.amenities{
    text-align: left;
    align-content: flex-start;
    height: 100%;
    width: 25%;
    float: left;
}
.amenities h3, .locations h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0px;
    padding-left: 30px;
}
.amenities h4, .locations h4{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 30px;
}
.popover{
    visibility: hidden;
    position: relative;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    margin-top: 7%;
    padding-bottom: 10%;
    z-index: 1;
}
.popover li h2{
    padding: 0;
    margin: 0;
}
.popover_list{
    padding:0px;
    margin:0px;
    padding-left: 10%;
}
li{
    list-style-type: none;
    padding-bottom: 5%;
}
ul{
    padding-top: 30px;
}
.locations:hover >.popover{
    visibility: visible;
    margin-bottom: 50px;
=======
.filter {
	background-color: white;
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin: auto;
	margin-right: 30px;
}

.filters button:hover {
	opacity: 90%;
}

.locations, .amenities {
	height: 100%;
	width: 25%;
	margin : 0 30px;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
	font-weight: 600;
	margin-bottom: 0;
}

.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 4px auto;
}

.popover {
	background-color: #FAFAFA;
	list-style: none;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 20px 0;
	margin-left: -30px;
}
.locations:hover > ul, .ameniities:hover > ul {
	display: block;
	z-index: 999;
}

.popover li h2 {
	font-size: 18px;
	padding-left: 35px;
	margin-bottom: 4px;
	margin-top: 0px;
}

.popver li p {
	padding-left: 50px;
	margin: 6px;
>>>>>>> be098a6cf09a8ae533aa2ff4c1909464fb69feaa
}
